{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^next$",
    "^next/(.*)$",
    "^react$",
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@components/(.*)$",
    "",
    "^[.]"
  ],
  "importOrderTypeScriptVersion": "5.0.0"
}
